.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    margin: 0rem;
    font-family:'Raleway';
}
header{
    height: 43.5rem;
    
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:13rem ;
}

.btn{
    background-color: #4E47FF;
    color:#FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    height: 3rem;
    border-radius: 1rem;
    border: 0rem;
}
#banner{
    text-align: center;
}
#ProductiveUsers{
    text-align: center;
    padding: 1rem 9rem 3rem 9rem;
    border-radius: .8rem;
    background-color: #4E47FF20;
    
    margin-top: 7rem;
    margin-bottom: 8.5rem;
}
#ProductiveUsers h1{
    font-size: 2.5rem;
    color: #252432;
    margin-bottom: 2.5rem;

}
#ProductiveUsers div div {
    font-size: 1.2rem;
    color: #00000080;
}
#ProductiveUsers div div span{
    display: inline-block;
    color: #4E47FF;
    font-size: 5rem;
    font-weight: bold;
}

#GetInTouch{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#GetInTouch h1{
    color: #000000;
    font-weight: bold;
    font-size: 5.6rem;
}
.form label{
    font-size: 1rem;
    color: #000000;
    font-weight: 500;
}
.form input{
    height: 4.3rem;
    width: 29rem;
    border-radius: .8rem;
    padding-left: 2rem;
    background-color: #FFFFFF;
    stroke-width: #D6DDED;
    margin-bottom: 1rem;
    margin-top: .5rem;

    
}
.form input ::placeholder{
    color: #000000;
    font-size: 1.2rem;
}